{% extends 'contact/base.html' %}
{% block title %}联系我{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1><br>联系我</h1>
        <p class="lead">代码跟文档已全部上传至<a href="https://github.com/shen-wenxin/garbage_classicy">github</a>/<a href="https://gitee.com/shen_wenxin0510/garbage_classify">gitee</a></p>
      </div>

      <h3>联系方式</h3>
      <p>如果您有建议或者问题<a href="mailto:shen_wenxin@qq.com">请给我发送邮件。</a>
      </p>
      <p>也可以在<a href="https://github.com/shen-wenxin/garbage_classicy">github</a>/<a href="https://gitee.com/shen_wenxin0510/garbage_classify">gitee</a>中向我提issue。<br><br>
      </p>
  
        <h3>打赏</h3>
        <p>请作者喝杯咖啡吧<br></P>
        <div class = text-center>
            <img src="../../static/images/wechat.jpg" alt="..." class="img-rounded" width="200px" height="250px">

        </div>
        
        
      

</div><!--/.container-->
{% endblock %}
