{% extends 'introduction/base2.html' %}
{% block title %}参考文献{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1><br>参考文献</h1>
      </div>

      <h3>CODE</h3>
      <p>[1]<a href="https://github.com/Levigty/EfficientNet-Pytorch">EfficientNet-Pytorch官方demo</a><br></p>
      <p>[2]<a href="https://github.com/wusaifei/HWCC_image_classification">EfficentNet Fine-tune示例</a><br></p>
      <p>[3]<a href="https://github.com/wangzhebufangqi/MachineLearning/tree/master/lab1">ResNet50 Fine-tune示例</a><br></p>
      <p>[3]<a href="https://github.com/Classmate-Huang/CV_ImageClassification">VGG Fine-tune示例</a><br></p>
      <p>[3]<a href="https://blog.csdn.net/zzy_pphz/article/details/105664054">AlexNet Fine-tune示例</a><br></p>
      
      <h3>PAPER</h3>
      <p>[1]<a href="https://arxiv.org/pdf/1905.11946.pdf">EfficientNet: Rethinking Model Scaling for Convolutional Neural Networks</a><br></p>

      <h3>网络资源</h3>
      <p>[1]<a href="https://zhuanlan.zhihu.com/p/70369784">EfficientNet论文解读</a><br></p>
      <p>[2]<a href="https://v3.bootcss.com/">Bootstrap中文文档</a><br></p>

</div><!--/.container-->
{% endblock %}
